<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
  </head>
  <body>
    <h1>User Profile</h1>
    <img src="{{user.avatar}}" alt="{{user.name}}'s avatar" width="100" /><br />
    <p>Name: {{user.name}}</p>
    <p>Username: {{user.username}}</p>
    <p>Signup Time: {{formatDate user.signupTime}}</p>
  </body>
</html>